.main__box {
    background-color: rgb(239, 243, 255);
    display: flex;
    width: 1370px;
    height: 100px;
    border-radius: 25px;
    border: 4px solid rgb(210, 208, 255);
    margin-left: 60px;
    align-items: center; /* 세로 가운데 정렬 */
    padding-left: 20px;
    margin-top: 50px;
}

.title__box--content {
    font-size: 40px;
    color: rgb(43, 59, 137);
    margin-left: 20px;
    margin-top: 0;
}

.main__box--day1,
.main__box--day2 {
    font-size: 18px;
    margin-left: 57px; /* 음수 마진 제거하고 적당히 띄움 */
    margin-top: 0;
    align-self: center; /* flex 아이템 세로 가운데 */
}

.main__box--day2 {
    margin-left: 50px;
}

.main__box--search-2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    width:1380px;
    height: 90px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin-left: 60px;
    align-items: center;
    padding-left: 20px;
    margin-top: 30px;
}

.main__box--diary {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; /* 세로 쌓기 */
    width: 1400px;
    height: 300px;
    border-radius: 25px;
    border: 2px solid rgb(209, 209, 209);
    margin-left: 60px;
    margin-top: 2%;
    padding: 20px;
    box-sizing: border-box;
}

.diary-title {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.diary-title-tag {
    margin-top: 10px;
    margin-left: 20px;
    position: static; /* absolute 제거 */
}

.diary-day {
    border: none;
    height: 20px;
    border-radius: 20px;
}

.diary-feel {
    border: 2px solid rgb(122, 178, 106);
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(231, 255, 237);
}

.diary-sun {
    border: 1px solid rgb(189, 189, 189);
    height: 20px;
    border-radius: 20px;
    padding: 5px;
}

.diary-count {
    border: 1px solid rgb(189, 189, 189);
    height: 20px;
    border-radius: 20px;
    padding: 5px;
}

.diary-content {
    margin-top: 40px;
    font-size: 23px;
    margin-left: 17px;
    position: static; 
}

.diary-content--tag {
    margin-top: 50px;
    margin-left: 20px;
    position: static; 
}

.diary-tag1,
.diary-tag2 {
    border: 2px solid rgb(167, 167, 167);
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(233, 233, 233);
}
