@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gothic+A1&family=Jua&family=Moirai+One&family=Nanum+Gothic+Coding&display=swap');

body {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: LINEN;
}
a {
  text-decoration: none;
  color: black;
}
