.main-layout {
    display: flex; 
    justify-content: center; 
    gap: 40px;
    max-width: 1400px;/*화면이 1400보다 큰 상태면 max 작동*/
    width: 95% ; /*화면좁게줄이면5%여백*/
    margin: 60px auto; /*auto:남은여백은자동으로계산해서똑같이배분*/
    align-items: stretch; /* 높이가 달라도 위쪽 라인 맞춤 */
}

.left-sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.day-header {
    margin-bottom: 10px;
}
.day-title { 
    font-size: 30px; color: #231c16; margin: 0; /*브라우저기본값초기위해(h1, p는 설정안해도 위아래여백들어감)*/
}
.day-date {
     font-size: 20px; color: #555; margin: 5px 0 0 0; 
}

.widget-box {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 22px;
}
.widget-title {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
    color: #3f2f16;
}

/*빠른 메모*/
.memo-widget { 
    background-color: rgb(213, 221, 211); 
}

.memo-input {
    height: 120px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: none;
    outline: none;
}

.memo-add-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;/*0.2초동안서서히바뀜*/
}
.memo-add-btn:hover { background-color: #333; }

/*노트*/
.note-widget { background-color: rgb(227, 233, 238); }

.note-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    gap: 5px; /*gap:자식요소사이 margin:각요소가가지는개별적인바깥여백*/
}
.note-label { font-size: 16px; color: #888; font-weight: bold; }
.note-text { font-size: 18px; color: #333; }

/*통계*/
.stat-widget { background-color: antiquewhite; }

.stat-item {
    background-color: white;
    border-radius: 15px;
    padding: 15px 20px; /*상하 좌우 / 위 오 아 왼*/
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 18px;
    color: rgb(118, 107, 93);
}
.stat-value { font-weight: bold; color: black; }

.right-content {
    flex-grow: 1; /*남은 공간 꽉 채우기*/ /*main-layout에 flex선언, 그 바로 아래 왼, 오는 flex 아이템이 됨, 즉, 부모인 mainlayout안에서 왼이 차지하고 남은 공간 다 쓰갰단 뜻*/
    max-width: 800px; 
    margin-top: 95px;
}

.editor-container {
    background-color: rgb(251, 231, 236);
    border-radius: 20px;
    padding: 50px;
    min-height: 800px;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.editor-title { font-size: 40px; margin: 0; }

.editor-tabs {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}
.tab {
    border: none;
    background: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}
.tab.active { /*두개 다 가지고있는거*/
    background-color: #eee; 
    font-weight: bold; 
} /*.tab의 속성도 상속*/

/*종이*/
.editor-paper {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 249, 249);
    border-radius: 20px;
    padding: 40px;
    height: 700px;
    gap: 20px;
}

.editor-input-title {
    font-size: 24px;
    border: none;
    background: none;/*input 기본 배경색 제거*/
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    outline: none;
    width: 100%;/*기본고정너비말고 editor(부모) 꽉 채우기 위해*/
}

.editor-textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    resize: none;
    font-size: 18px;
    line-height: 1.6;/*행간 */
    outline: none;
}