/* 메인 전체 레이아웃 */
.main-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 35px; 
    padding: 50px 0;
    /* width: 100%;  */
}

/* 3개 박스의 공통 디자인 */
.daily-card {
    display: flex;
    flex-direction: column;/*세로 방향*/
    width: 100%;
    max-width: 1400px;
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218);
    box-sizing: border-box; 
    padding: 40px;
}

/* 오늘의 한 줄*/
.today-quote-section {
    background-color: hsl(264, 100%, 95%);
    align-items: center; 
    text-align: center;
    min-height: 300px;/*최소한 300px만큼>내용물많아지면 더 키워도 됨*/
    justify-content: space-between;/*300만큼 보장해주기 때문에 남는 공간에 사이사이 나눠줄 수 있음*/
}

.main__line--title {
    font-size: 40px;
    color: rgb(25, 17, 8);
    margin: 0 0 10px 0;
}

.main__line--day {
    font-size: 18px;
    margin: 0;
    color: #555;
}

.main__line--box {
    background-color: white;
    width: 90%; /* 부모 크기의 90% */
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(239, 239, 239, 0.9); 
    margin: 20px 0;
}

.main__line--content {
    font-size: 30px; 
    color: rgb(98, 98, 98);
    margin: 0;
}

.main__btn-group {
    display: flex;
    gap: 15px; 
}

.action-btn {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.action-btn:hover {
    background-color: rgb(255, 230, 234);
}

/* 오늘 본 명언들*/
.recent-quotes-section {
    background-color: white;
}

.section-title {
    font-size: 40px;
    color: rgb(25, 17, 8);
    margin: 0 0 20px 20px;
}

.quote-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

.quote-item {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    width: 95%; 
    border-radius: 20px;
    font-size: 24px;
    color: #333;
}

/* 좋아요 한 명언*/
.favorite-quotes-section {
    background-color: hsl(0, 100%, 97%);
    min-height: 350px;
}

.text-red {
    color: rgb(85, 26, 26);
}

.empty-message {
    color: rgb(209, 76, 76);
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}