.slider {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_container {
  position: relative;   /* 기준 */
  /* width: 90vw;  */
}

#slideImage {
    object-fit: cover;/*비율을 맞춰서 들어감*/
    width: 100vw;         /* 화면 가로 전체 */
    height: 90vh;        /* 화면 세로 전체 */
  
    overflow: hidden;     /* 넘치는 부분 제거 */
}

.progress-bars {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 0 2px;
  background-color: #ffffffb6;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.bar.active {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  background-color: #a694a7;
  border-radius: 5px;
}

.leftButton, .rightButton{
    position: absolute;
    top: 50%;/*버튼의 가장 윗부분을 부모의 50% 지점*/
    transform: translateY(-50%);

    color: rgb(255, 255, 255);
    font-size: 60px;
    border: none;
    z-index: 1000;

    background-color: transparent;
    cursor: pointer;
}

.leftButton:hover, .rightButton:hover {
    color: rgb(49, 49, 49);
}

.leftButton { left: 10px; }
.rightButton { right: 10px; }