.slider {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.slide_container {
  position: relative;   /* 기준 */
  width: 90vw; 
}

#slideImage {
    object-fit: cover;/*비율을 맞춰서 들어감*/
    width: 90vw;         /* 화면 가로 전체 */
    height: 90vh;        /* 화면 세로 전체 */
  
    overflow: hidden;     /* 넘치는 부분 제거 */
}

.progress-bars {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 0 2px;
  background-color: #cfbed1b6;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.bar.active {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  background-color: #000000;
}

.leftButton, .rightButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: rgb(102, 102, 102);
    font-size: 70px;
    padding: 0 20px;
    border: none;
    z-index: 10;

    background-color: transparent;
    cursor: pointer;
}

.leftButton:hover, .rightButton:hover {
    color: white;
}

.leftButton { left: 0; }
.rightButton { right: 0; }