.header__top{
    display: flex;
    justify-self: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__nav-box{
    width: 33%;
    /*border: 1px solid pink;*/
}
.header__title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    /* border: 1px solid skyblue; */
}

.header__list-box{
    display: flex;
    height: 100%;
    align-items: center;
    /* border: 1px solid green; */
}

.header__menu{
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: flex-end;
}
.header__content{
    margin: 0 15px;/*0은 위 아래, 15는 양 옆에*/
    /* border: 1px solid darkblue; */
}

.header__content a {
    color: black;
}

.header__content--user-box{
    position: relative;
}

.header__user-badge{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3px 6px;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translate(-50%);
    /*left trnsform -> 사람이랑 가운데를 맞추기 위해서 작성*/
    color: white;
    font-size: 70%;
}
.header__user-badge::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: gray;
    /*밑에 3개 삼각형 위치 수정하는 부분*/
    border-top: 0;
    margin-left: -5px;
    margin-top: -6px;
}

.header__cart-badge{
    /* border: 1px solid darkblue; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    padding: 1px;
    /*width, height, padding, 원의 크기 조정*/
    position: absolute;
    top: -13px;
    right: -9px;
    /*top, rught 원의 위치*/
}
.header__content--badge-box{
    position: relative;

}

.header__cart-badge span{
    color: white;
    font-size: 60%;
    /*원 안의 글씨 조정*/
}

.header__category {
    display: flex;
    justify-content: center;
   padding: 15px;
}