.footer {
    position: absolute;
    bottom: 0;
    height: 230px;
    width: 100%;
    background-color: #ececec;
    display: flex;
}

.footer__sub-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

.footer__copyright {
position: relative;
bottom: -50px;
}

.footer__title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;

}

.footer__text {
    margin: 5px;
    color: rgba(0, 0, 0,0.7);
}

.footer__social-box {
    flex-direction: row;
    justify-content: flex-end;
}

.footer__text i {
    transform: scale(1.0);
    margin: 10px;
}
