.footer {
    position: relative;
    background-color: rgb(199, 177, 155);
    height: 300px;
    width: 100%;
    display: flex;
    margin-top: 10%;
}

.footer__title {
    font-size: 70px;
    color: rgb(45, 34, 21);
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 35px;
}

.footer__sub-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35px;
    bottom: 20px;
    gap: 10px;
}

.footer__text {
    font-size: 20px;
}

.footer__social-box{
    position: absolute;
    display: flex;
    gap: 30px;
    right: 35px;
    bottom: 36px;
}

.footer__social-box span {
    cursor: pointer;
    color: rgb(45, 34, 21);
}