.footer {
    background-color: rgb(199, 177, 155);
    height: 350px;
    width: 100%;
    display: flex;
    margin-top: 10%;
}
.footer__sub-box {
    display: flex;
    flex-direction: column;
}
.footer__title {
    font-size: 70px;
    color: rgb(45, 34, 21);
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 35px;
}

.footer__text {
    margin-top: 30px;
    font-size: 20px;
    padding-left: 35px;
}

.footer__text i {
    margin: 20px;
}

.footer__sub-box.footer__social-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 63%;
}

.footer__text--1 {
    margin-top: 50px;
    font-size: 23px;
    padding: 30px;
}
.footer__social-box{
    margin-top: 10px;
}