.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;/*상하 좌우*/
}

.header__list-box {
    display: flex;
    flex: 1;
    justify-content: flex-start; /* 왼쪽이 출발점이라고 지정 */
    gap: 60px;
    margin-left: 50px;
}

.header__content1 {
   font-size: 21px;
}

.header__title--box {
    display: flex;
    flex: 1;
    flex-direction: column;/*자식 요소들이 수직 방향으로 나열*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__title {
    font-size: 40px;
    font-weight: 600;
}

/* .header__content-sentence {
   margin-top: 7px;
   font-size: 17px;
   color: rgba(0, 0, 0, 0.7);
} */

.header__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 60px;
   margin-right: 50px;
}

.header__content-badge{
    font-size: 25px;
}

/*.header__content1,.header__content-badge{
     padding: 0px;
     white-space: nowrap;
}*/

.bar-container {   
    width: 100%;     
    height: 6px; 
    background-color: #ffffff;   
}
.perBar {
  width: 0%;
  height: 100%;
  background-color: #000000;
  transition: width 0.1s ease-out;
   z-index: 99999;
}

 .bar-container.fixed {
  position: fixed;
  top: 0;
  left: 0; 
z-index: 9999;
}

.header__content {
    padding: 0 15px;/*좌우*/ /*글자 양옆에 15px씩, 주변만 눌러도 됨*/
}

.header__category {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 70px;
}

.topBtn {
    margin-left: 108px;
    padding: 10px;
    border-radius: 6px;
    background-color: #eee;
    border: 2px solid #eee;
    transition: all .3s ease-out;
}

.topBtn:hover {
    background-color: #000;
    border-color: #333;
    color: #fff;
}