.header__top {
    display: flex;  /* 기본값: flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;    
}

.header__content1 {
    display: flex;
    flex-direction: row;
}
.header__content1{
    flex-direction: row;
    margin-right: 70px;
    white-space: nowrap;
}
.header__content {
    padding: 0 15px;/* 좌우 패딩만 주기, 위아래 패딩은 줄임 */
}

.header__title--box {
    display: flex;
    flex-direction: column;/*자식 요소들이 세로 방향(수직 방향)으로 나열*/
    align-items: center;
    width: 33%;
}

.header__title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;/*줄바꿈 방지*/
}

.header__content--sentence {
   text-align: center;
   white-space: nowrap;
   margin-top: 7px;
   font-size: 17px;
   color: rgba(0, 0, 0, 0.7);
}

.header__list-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 33%;
    font-size: 20px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;  /* 1/3 차지 */
    gap: 30px;/*아이콘 간 간격주기*/
}
.header__content.header__content--badge i/*i태그에만 적용*/{
    font-size: 25px;
}

.header__category {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 70px;
}
   
