div{
    width: 50px;
    height: 50px;
    background-color: rgb(232, 203, 156);
    margin: 10px ;
    padding: 10px;
    border: 10px outset rgba(97, 201, 239, 0.585) ;
}
span{
    width: 50px;
    height: 50px;
    background-color: rgba(92, 144, 95, 0.821);
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    border-top: 10px solid rgb(255, 0, 0);
    border-bottom: 10px solid rgb(255, 145, 0);
    border-right: 10px solid rgb(255, 213, 5);
    border-left: 10px solid rgb(136, 255, 0);
    color: aliceblue;
}
/*padding 안의 여백
밖에 여백
바깥에 가장자리 안
top right bottom left 순서대로 설정 가능 시계방향
*/
