div{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin: 10px;
    font-size: 55px;
    padding: 10px;
    border: 10px double black;
}

span{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    border: 15px dotted red;
}